<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletActualizarListas</servlet-name>
        <servlet-class>servlets.ServletActualizarListas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecibeDatosPersonales</servlet-name>
        <servlet-class>servlets.RecibeDatosPersonales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertaDatosAspirante</servlet-name>
        <servlet-class>servlets.InsertaDatosAspirante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardaCorreo</servlet-name>
        <servlet-class>servlets.GuardaCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaCatalogoServlet</servlet-name>
        <servlet-class>servlets.CargaCatalogoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviaEmailInicio</servlet-name>
        <servlet-class>servlets.EnviaEmailInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesencriptaCorreo</servlet-name>
        <servlet-class>DesencriptaCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaSer</servlet-name>
        <servlet-class>servlets.CaptchaSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaCap</servlet-name>
        <servlet-class>servlets.ValidaCap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletValPeriodo</servlet-name>
        <servlet-class>servlets.ServletValPeriodo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegresar</servlet-name>
        <servlet-class>servlets.ServletRegresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviaMailContacto</servlet-name>
        <servlet-class>servlets.EnviaMailContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrefichaGenerar</servlet-name>
        <servlet-class>servlets.PrefichaGenerar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosAspiranteServlet</servlet-name>
        <servlet-class>servlets.DatosAspiranteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrefichaPDF</servlet-name>
        <servlet-class>servlets.PrefichaPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrefichaServlet</servlet-name>
        <servlet-class>servlets.PrefichaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosPersonalesAsp</servlet-name>
        <servlet-class>servlets.DatosPersonalesAsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertandoDatos</servlet-name>
        <servlet-class>servlets.InsertandoDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManualGenerar</servlet-name>
        <servlet-class>servlets.ManualGenerar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscribeAuditoria</servlet-name>
        <servlet-class>servlets.EscribeAuditoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapPrefichas</servlet-name>
        <servlet-class>servlets.CapPrefichas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPeriodoRenueva</servlet-name>
        <servlet-class>servlets.GetPeriodoRenueva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletActualizarListas</servlet-name>
        <url-pattern>/ServletActualizarListas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardaCorreo</servlet-name>
        <url-pattern>/GuardaCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaCatalogoServlet</servlet-name>
        <url-pattern>/CargaCatalogoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertaDatosAspirante</servlet-name>
        <url-pattern>/InsertaDatosAspirante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecibeDatosPersonales</servlet-name>
        <url-pattern>/RecibeDatosPersonales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviaMailContacto</servlet-name>
        <url-pattern>/servlet/EnviaMailContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviaEmailInicio</servlet-name>
        <url-pattern>/EnviaEmailInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosAspiranteServlet</servlet-name>
        <url-pattern>/Datos_Aspirante.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrefichaPDF</servlet-name>
        <url-pattern>/PrefichaPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesencriptaCorreo</servlet-name>
        <url-pattern>/DesencriptaCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaSer</servlet-name>
        <url-pattern>/imgCaptcha.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaCap</servlet-name>
        <url-pattern>/ValidaCap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletValPeriodo</servlet-name>
        <url-pattern>/ServletValPeriodo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegresar</servlet-name>
        <url-pattern>/ServletRegresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrefichaGenerar</servlet-name>
        <url-pattern>/PrefichaGenerar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrefichaServlet</servlet-name>
        <url-pattern>/PrefichaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosPersonalesAsp</servlet-name>
        <url-pattern>/DatosPersonalesAsp</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>InsertandoDatos</servlet-name>
        <url-pattern>/InsertandoDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManualGenerar</servlet-name>
        <url-pattern>/manualgenerar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscribeAuditoria</servlet-name>
        <url-pattern>/EscribeAuditoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapPrefichas</servlet-name>
        <url-pattern>/CapPrefichas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPeriodoRenueva</servlet-name>
        <url-pattern>/GetPeriodoRenueva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
